[submodule "plugins/s3-uploads"]
	path = plugins/s3-uploads
	url = https://github.com/humanmade/S3-Uploads.git
[submodule "plugins/aws-ses-wp-mail"]
	path = plugins/aws-ses-wp-mail
	url = https://github.com/humanmade/aws-ses-wp-mail.git
[submodule "dropins/wordpress-pecl-memcached-object-cache"]
	path = dropins/wordpress-pecl-memcached-object-cache
	url = https://github.com/humanmade/wordpress-pecl-memcached-object-cache.git
[submodule "dropins/batcache"]
	path = dropins/batcache
	url = https://github.com/humanmade/batcache.git
[submodule "dropins/ludicrousdb"]
	path = dropins/ludicrousdb
	url = https://github.com/stuttter/ludicrousdb.git
[submodule "plugins/cavalcade"]
	path = plugins/cavalcade
	url = https://github.com/humanmade/Cavalcade.git
[submodule "plugins/tachyon"]
	path = plugins/tachyon
	url = https://github.com/humanmade/tachyon-plugin.git
[submodule "plugins/msm-sitemap"]
	path = plugins/msm-sitemap
	url = https://github.com/humanmade/msm-sitemap.git
[submodule "plugins/hm-related-posts"]
	path = plugins/hm-related-posts
	url = https://github.com/humanmade/HM-Related-Posts.git
[submodule "plugins/hm-redirects"]
	path = plugins/hm-redirects
	url = https://github.com/humanmade/hm-redirects.git
[submodule "plugins/bylines"]
	path = plugins/bylines
	url = https://github.com/humanmade/bylines.git
[submodule "plugins/hm-platform-ui"]
	path = plugins/hm-platform-ui
	url = https://github.com/humanmade/platform-ui.git
	ignore = dirty
[submodule "plugins/wp-redis"]
	path = plugins/wp-redis
	url = https://github.com/pantheon-systems/wp-redis.git
[submodule "plugins/elasticpress"]
	path = plugins/elasticpress
	url = https://github.com/humanmade/ElasticPress.git
[submodule "plugins/multilingualpress"]
	path = plugins/multilingualpress
	url = https://github.com/humanmade/MultilingualPress.git
[submodule "plugins/cmb2"]
	path = plugins/cmb2
	url = https://github.com/humanmade/CMB2.git
[submodule "plugins/extended-cpts"]
	path = plugins/extended-cpts
	url = https://github.com/humanmade/extended-cpts.git
[submodule "plugins/query-monitor"]
	path = plugins/query-monitor
	url = https://github.com/humanmade/query-monitor.git
[submodule "plugins/hm-gtm"]
	path = plugins/hm-gtm
	url = https://github.com/humanmade/hm-gtm.git
[submodule "plugins/media-explorer"]
	path = plugins/media-explorer
	url = https://github.com/humanmade/media-explorer.git
[submodule "plugins/gutenberg"]
	path = plugins/gutenberg
	url = https://github.com/humanmade/gutenberg.git
	ignore = dirty
[submodule "plugins/publishing-checklist"]
	path = plugins/publishing-checklist
	url = https://github.com/humanmade/publishing-checklist.git
[submodule "plugins/workflows"]
	path = plugins/workflows
	url = https://github.com/humanmade/Workflows.git
	ignore = dirty
[submodule "plugins/polylang"]
	path = plugins/polylang
	url = https://github.com/humanmade/polylang.git
[submodule "plugins/wordpress-seo"]
	path = plugins/wordpress-seo
	url = https://github.com/humanmade/wordpress-seo.git
	ignore = dirty
