[submodule "plugins/s3-uploads"]
	path = plugins/s3-uploads
	url = https://github.com/humanmade/S3-Uploads.git
[submodule "plugins/aws-ses-wp-mail"]
	path = plugins/aws-ses-wp-mail
	url = https://github.com/humanmade/aws-ses-wp-mail.git
[submodule "dropins/wordpress-pecl-memcached-object-cache"]
	path = dropins/wordpress-pecl-memcached-object-cache
	url = https://github.com/humanmade/wordpress-pecl-memcached-object-cache.git
[submodule "dropins/batcache"]
	path = dropins/batcache
	url = https://github.com/humanmade/batcache.git
[submodule "dropins/ludicrousdb"]
	path = dropins/ludicrousdb
	url = https://github.com/stuttter/ludicrousdb.git
[submodule "plugins/cavalcade"]
	path = plugins/cavalcade
	url = https://github.com/humanmade/Cavalcade.git
[submodule "plugins/tachyon"]
	path = plugins/tachyon
	url = https://github.com/humanmade/tachyon-plugin.git
[submodule "plugins/wp-redis"]
	path = plugins/wp-redis
	url = https://github.com/pantheon-systems/wp-redis.git
[submodule "plugins/aws-xray"]
	path = plugins/aws-xray
	url = https://github.com/humanmade/aws-xray.git
