[submodule "plugins/s3-uploads"]
	path = plugins/s3-uploads
	url = https://github.com/humanmade/S3-Uploads.git
[submodule "plugins/aws-ses-wp-mail"]
	path = plugins/aws-ses-wp-mail
	url = https://github.com/humanmade/aws-ses-wp-mail.git
[submodule "dropins/wordpress-pecl-memcached-object-cache"]
	path = dropins/wordpress-pecl-memcached-object-cache
	url = https://github.com/humanmade/wordpress-pecl-memcached-object-cache.git
[submodule "dropins/batcache"]
	path = dropins/batcache
	url = https://github.com/humanmade/batcache.git
[submodule "dropins/ludicrousdb"]
	path = dropins/ludicrousdb
	url = https://github.com/stuttter/ludicrousdb.git
[submodule "plugins/cavalcade"]
	path = plugins/cavalcade
	url = https://github.com/humanmade/Cavalcade.git
[submodule "plugins/tachyon"]
	path = plugins/tachyon
	url = https://github.com/humanmade/tachyon-plugin.git
[submodule "plugins/msm-sitemap"]
	path = plugins/msm-sitemap
	url = https://github.com/humanmade/msm-sitemap.git
[submodule "plugins/hm-related-posts"]
	path = plugins/hm-related-posts
	url = https://github.com/humanmade/HM-Related-Posts.git
[submodule "plugins/wp-seo"]
	path = plugins/wp-seo
	url = https://github.com/humanmade/wp-seo.git
[submodule "plugins/hm-redirects"]
	path = plugins/hm-redirects
	url = https://github.com/humanmade/hm-redirects.git
