/**
 * HM Cloud Environmental Data pane.
 */

.environment-data {
	display: flex;
	justify-content: space-between;
}

.environment-data-block {
	border: 1px solid #eee;
	flex-basis: 49%;
}

// Yes, this is gross. #becauseWP
#dashboard-widgets h3.environment-data-block__title {
	border-bottom: 1px solid #eee;
	font-weight: bold;
	padding: 7px;
}

.environment-data-block dl {
	padding: 7px;
	margin: 0;
}

.environment-data-block dt {
	font-weight: bold;
	clear: both;
	margin-right: 7px;
}

.environment-data-block dt,
.environment-data-block dd {
	float: left;
	margin-left: 0;
}
