.hm-ek-Header {
  margin-left: -20px;
  background: #fff;
  padding: 20px 40px;
}

.hm-ek-Header h1 svg {
  vertical-align: text-bottom;
  margin-right: 20px;
  height: 1.2em;
  width: auto;
}

.hm-ek-Header-Version {
  margin-left: 10px;
  font-size: 50%;
  color: #999;
}
