$images-path: "./hm-pattern-library/assets/images";

@import "./hm-pattern-library/assets/sass/brand-colors";
@import "./hm-pattern-library/assets/sass/variables";
@import "./hm-pattern-library/assets/sass/base/typography-mixins";
@import "./hm-pattern-library/assets/sass/utilities/icons";
@import "./hm-pattern-library/assets/sass/components/loading";
@import "./hm-pattern-library/assets/sass/components/buttons";

@import "./scss/Cloud/Alerts-Log";
@import "./scss/Cloud/Pull-Requests";
@import "./scss/Cloud/Environment-Data";

#toplevel_page_hm-enterprise-kit .wp-menu-image img,
#toplevel_page_hm-enterprise-kit .wp-menu-image svg {
  max-width: 24px;
  height:    auto;
  width:     auto;
}

.wp-menu-image {
  line-height: 34px;
}

.hm-logo-small {
  max-width:      24px;
  width:          auto;
  vertical-align: text-bottom;
  height:         auto;
  display:        inline-block;
}

#wpadminbar .hm-docs-indicator {
  margin-left:  5px;
  border-left:  1px solid rgba(255, 255, 255, .3);
  padding-left: 10px;
}

#wpadminbar {

  .ab-submenu-header {
    margin-top: -6px;
    border-top:  1px solid rgba(255, 255, 255, .3);
    font-weight: bold;
    padding:     0 10px;
  }

  .ab-top-menu > #wp-admin-bar-hm-platform-toolbar-ui.menupop > .ab-sub-wrapper {
    min-width: 150%;
  }

}

.hm-ek-Header {
  margin-left: -20px;
  background:  #fff;
  padding:     20px 40px;
}

.hm-ek-Header h1 svg {
  vertical-align: text-bottom;
  margin-right:   20px;
  height:         1.2em;
  width:          auto;
}

.hm-ek-Header-Version {
  margin-left: 10px;
  font-size:   50%;
  color:       #999;
}

.hm-platform-modal {

  .hm-iframe-close {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 9992;
  }

  iframe {
    position: absolute;
    z-index: 9991;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    transition: top .3s linear, opacity .3s linear;
  }

  .hm-iframe-loading {
    opacity: 0;
    top: 200px;
  }

  .hm-iframe-loaded {
    opacity: 1;
  }

}
