/*
 * CSS Variables
 * To be used in projects that do not use SASS, for example.
 */
:root {
  --hm-red: #D24632;
  --hm-blue: #7DC9DA;
  --hm-warm-grey: #504C4C;
  --hm-dark-grey: #353535;
  --hm-beige: #F4EFE6;
  --hm-medium-grey: #737373;
  --hm-light-grey: #f7f7f7;
  --hm-brown: #4F4641;
  --hm-red-light: #e06857;
  --hm-red-dark: #b34332; }

/*
 * Base Settings
 */
/*
 * Color Mapping
 */
/*
 * Base Color Mapping
 */
/*
 * Component Color Mapping
 */
.icon {
  display: inline-block;
  width: 1.555rem;
  height: 1.555rem;
  padding: 0;
  vertical-align: bottom;
  background: no-repeat center center;
  background-size: 80%;
  border: none;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }
  .icon:hover, .icon:focus {
    border: none; }
  .icon:focus {
    outline: none; }

.icon--mail {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-mail-black.svg"); }

.icon--mail.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-mail-white.svg"); }

.icon--mail.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-mail-red.svg"); }

.icon--wordpress {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-wordpress-black.svg"); }

.icon--wordpress.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-wordpress-white.svg"); }

.icon--wordpress.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-wordpress-red.svg"); }

.icon--server {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-server-black.svg"); }

.icon--server.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-server-white.svg"); }

.icon--server.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-server-red.svg"); }

.icon--facebook {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-facebook-black.svg"); }

.icon--facebook.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-facebook-white.svg"); }

.icon--facebook.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-facebook-red.svg"); }

.icon--twitter {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-twitter-black.svg"); }

.icon--twitter.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-twitter-white.svg"); }

.icon--twitter.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-twitter-red.svg"); }

.icon--youtube {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-youtube-black.svg"); }

.icon--youtube.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-youtube-white.svg"); }

.icon--youtube.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-youtube-red.svg"); }

.icon--strategy {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-strategy-black.svg"); }

.icon--strategy.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-strategy-white.svg"); }

.icon--strategy.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-strategy-red.svg"); }

.icon--comment {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-comment-black.svg"); }

.icon--comment.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-comment-white.svg"); }

.icon--comment.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-comment-red.svg"); }

.icon--link {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-link-black.svg"); }

.icon--link.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-link-white.svg"); }

.icon--link.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-link-red.svg"); }

.icon--lock {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-lock-black.svg"); }

.icon--lock.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-lock-white.svg"); }

.icon--lock.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-lock-red.svg"); }

.icon--minus {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-minus-black.svg"); }

.icon--minus.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-minus-white.svg"); }

.icon--minus.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-minus-red.svg"); }

.icon--plus {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-plus-black.svg"); }

.icon--plus.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-plus-white.svg"); }

.icon--plus.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-plus-red.svg"); }

.icon--minus-alt {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-minus-alt-black.svg"); }

.icon--minus-alt.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-minus-alt-white.svg"); }

.icon--minus-alt.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-minus-alt-red.svg"); }

.icon--plus-alt {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-plus-alt-black.svg"); }

.icon--plus-alt.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-plus-alt-white.svg"); }

.icon--plus-alt.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-plus-alt-red.svg"); }

.icon--search {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-search-black.svg"); }

.icon--search.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-search-white.svg"); }

.icon--search.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-search-red.svg"); }

.icon--spinner {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-spinner-black.svg"); }

.icon--spinner.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-spinner-white.svg"); }

.icon--spinner.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-spinner-red.svg"); }

.icon--arrow-right, .icon--arrow-left {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-arrow-right-black.svg"); }

.icon--arrow-right.icon--white, .icon--white.icon--arrow-left {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-arrow-right-white.svg"); }

.icon--arrow-right.icon--red, .icon--red.icon--arrow-left {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-arrow-right-red.svg"); }

.icon--arrow-down, .icon--arrow-up {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-arrow-down-black.svg"); }

.icon--arrow-down.icon--white, .icon--white.icon--arrow-up {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-arrow-down-white.svg"); }

.icon--arrow-down.icon--red, .icon--red.icon--arrow-up {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-arrow-down-red.svg"); }

.icon--github {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-github-black.svg"); }

.icon--github.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-github-white.svg"); }

.icon--github.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-github-red.svg"); }

.icon--linkedin {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-linkedin-black.svg"); }

.icon--linkedin.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-linkedin-white.svg"); }

.icon--linkedin.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-linkedin-red.svg"); }

.icon--instagram {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-instagram-black.svg"); }

.icon--instagram.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-instagram-white.svg"); }

.icon--instagram.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-instagram-red.svg"); }

.icon--pin {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-pin-black.svg"); }

.icon--pin.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-pin-white.svg"); }

.icon--pin.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-pin-red.svg"); }

.icon--close {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-close-black.svg"); }

.icon--close.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-close-white.svg"); }

.icon--close.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-close-red.svg"); }

.icon--download {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-download-black.svg"); }

.icon--download.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-download-white.svg"); }

.icon--download.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-download-red.svg"); }

.icon--smiley-wink {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-smiley-wink-black.svg"); }

.icon--smiley-wink.icon--white {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-smiley-wink-white.svg"); }

.icon--smiley-wink.icon--red {
  background-image: url("./hm-pattern-library/assets/images/icons/icon-smiley-wink-red.svg"); }

.icon--arrow-left {
  transform: rotate(180deg); }

.icon--arrow-up {
  transform: rotate(180deg); }

.loading {
  display: none; }

.loading--active {
  background: url("./hm-pattern-library/assets/images/icons/icon-spinner-black.svg") no-repeat center center;
  background-size: 75%;
  width: 1.555rem;
  height: 1.555rem;
  background-size: auto;
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  position: relative;
  top: -1px; }

.loading--white, .btn--loading .loading--active {
  background: url("./hm-pattern-library/assets/images/icons/icon-spinner-white.svg") no-repeat center center;
  background-size: 75%;
  width: 1.555rem;
  height: 1.555rem;
  background-size: auto; }

.loading--red, .btn--loading:hover .loading--active {
  background: url("./hm-pattern-library/assets/images/icons/icon-spinner-red.svg") no-repeat center center;
  background-size: 75%;
  width: 1.555rem;
  height: 1.555rem;
  background-size: auto; }

.btn {
  font-family: "proxima-nova", sans-serif;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0;
  font-size: 1.222222222rem;
  line-height: 1.555rem;
  border: 1px solid #D24632;
  border-radius: 4px;
  padding: calc( 0.41667rem + 1px) 15px;
  background: #D24632;
  color: #FFF;
  margin-bottom: 0.83333rem;
  margin-right: 7.5px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  width: auto;
  box-shadow: none;
  text-shadow: none;
  height: auto;
  transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out; }
  .btn strong,
  .btn b {
    font-weight: 700; }
  .btn:link, .btn:visited {
    color: #FFF;
    text-decoration: none; }
  .btn:hover, .btn:focus {
    color: #D24632;
    text-decoration: none;
    outline: none;
    background: #FFF;
    color: #D24632;
    transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out; }
  .btn[disabled] {
    cursor: default;
    opacity: 0.3; }
    .btn[disabled]:hover, .btn[disabled]:focus {
      background: #D24632;
      color: #FFF; }
  .btn--block {
    width: 100%;
    margin-bottom: 1.66667rem;
    margin-right: 0; }

.btn--secondary {
  color: #D24632;
  border-color: #D24632;
  background: #FFF; }
  .btn--secondary:link, .btn--secondary:visited {
    color: #D24632; }
  .btn--secondary:hover, .btn--secondary:focus {
    color: #FFF;
    background: #D24632;
    border: 1px solid #D24632; }
  .btn--secondary[disabled]:hover, .btn--secondary[disabled]:focus {
    background: #D24632;
    border-color: #D24632;
    color: #FFF; }

.btn--tertiary {
  color: #504C4C;
  border-color: #504C4C;
  background: none; }
  .btn--tertiary:link, .btn--tertiary:visited {
    color: #504C4C; }
  .btn--tertiary:hover, .btn--tertiary:focus {
    color: #FFF;
    background: #504C4C;
    border: 1px solid #504C4C; }
  .btn--tertiary[disabled]:hover, .btn--tertiary[disabled]:focus {
    background: none;
    border-color: #504C4C;
    color: #504C4C; }

.btn--inverted {
  color: #FFF;
  border-color: #FFF;
  background: none; }
  .btn--inverted:link, .btn--inverted:visited {
    color: #FFF; }
  .btn--inverted:hover, .btn--inverted:focus {
    color: #D24632;
    background: #FFF;
    border: 1px solid #D24632; }

.btn--small {
  font-size: .888888889rem;
  line-height: 1.555rem;
  border-width: 1px;
  padding: 0 7.5px; }
  @media screen and (min-width: 30rem) {
    .btn--small {
      font-size: 1rem;
      line-height: 1.555rem; } }

.btn--loading:after {
  display: none; }

.btn--loading .loading--active {
  margin-left: 7.5px;
  margin-bottom: -1px; }

/**
 * HM Cloud Alerts Pane.
 */
.alert-listing {
  margin-bottom: 0; }

.alert-item {
  padding: 7px 7px 7px 10px;
  border-left: 5px solid transparent;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; }
  .alert-item:after {
    content: "";
    clear: both;
    display: block; }
  .alert-item:last-of-type {
    margin-bottom: 0; }
  .alert-item--success {
    border-left-color: #46b450; }
  .alert-item--error {
    border-left-color: #dc3232; }

.alert-item__message {
  margin: 0 0 2px;
  line-height: 1.4; }

.alert-item__time {
  float: right;
  font-size: .8em;
  color: #999;
  font-style: italic; }

/**
 * HM Cloud Pull Requests Pane.
 */
.pull-request-item {
  display: flex;
  list-style-type: none;
  margin: 15px; }

.pull-request-item__info {
  flex-basis: 75%; }

#dashboard-widgets h3.pull-request-item__title {
  margin: 0 0 3px;
  font-size: 13px; }

.pull-request-item__date {
  margin: 0;
  color: #999;
  font-style: italic; }

.pull-request-item__status {
  color: #999;
  flex: 0 1 23%; }

.pull-request-item__status-indicator {
  float: left;
  margin-right: 7px;
  height: 1.3em;
  width: 1.3em;
  border-radius: 50%;
  background-color: transparent; }
  .pull-request-item__status-indicator.pr-status--APPROVED {
    background-color: green; }
  .pull-request-item__status-indicator.pr-status--COMMENTED, .pull-request-item__status-indicator.pr-status--CHANGES_REQUESTED {
    background-color: red; }
  .pull-request-item__status-indicator.pr-status--PENDING {
    background-color: green; }
  .pull-request-item__status-indicator.pr-status--DISMISSED {
    background-color: #333; }

/**
 * HM Cloud Environmental Data pane.
 */
.environment-data {
  display: flex;
  justify-content: space-between; }

.environment-data-block {
  border: 1px solid #eee;
  flex-basis: 49%; }

#dashboard-widgets h3.environment-data-block__title {
  border-bottom: 1px solid #eee;
  font-weight: bold;
  padding: 7px; }

.environment-data-block dl {
  padding: 7px;
  margin: 0; }

.environment-data-block dt {
  font-weight: bold;
  clear: both;
  margin-right: 7px; }

.environment-data-block dt,
.environment-data-block dd {
  float: left;
  margin-left: 0; }

#toplevel_page_hm-enterprise-kit .wp-menu-image img,
#toplevel_page_hm-enterprise-kit .wp-menu-image svg {
  max-width: 24px;
  height: auto;
  width: auto; }

.wp-menu-image {
  line-height: 34px; }

.hm-logo-small {
  max-width: 24px;
  width: auto;
  vertical-align: text-bottom;
  height: auto;
  display: inline-block; }

#wpadminbar .hm-docs-indicator {
  margin-left: 5px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 10px; }

#wpadminbar .ab-submenu-header {
  margin-top: -6px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: bold;
  padding: 0 10px; }

#wpadminbar .ab-top-menu > #wp-admin-bar-hm-platform-toolbar-ui.menupop > .ab-sub-wrapper {
  min-width: 150%; }

.hm-ek-Header {
  margin-left: -20px;
  background: #fff;
  padding: 20px 40px; }

.hm-ek-Header h1 svg {
  vertical-align: text-bottom;
  margin-right: 20px;
  height: 1.2em;
  width: auto; }

.hm-ek-Header-Version {
  margin-left: 10px;
  font-size: 50%;
  color: #999; }

.hm-platform-modal .hm-iframe-close {
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 9992; }

.hm-platform-modal iframe {
  position: absolute;
  z-index: 9991;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  transition: top .3s linear, opacity .3s linear; }

.hm-platform-modal .hm-iframe-loading {
  opacity: 0;
  top: 200px; }

.hm-platform-modal .hm-iframe-loaded {
  opacity: 1; }
