#toplevel_page_hm-enterprise-kit .wp-menu-image img,
#toplevel_page_hm-enterprise-kit .wp-menu-image svg {
  max-width: 24px;
  height:    auto;
  width:     auto;
}

.wp-menu-image {
  line-height: 34px;
}

.hm-logo-small {
  max-width:      24px;
  width:          auto;
  vertical-align: text-bottom;
  height:         auto;
  display:        inline-block;
}
